@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ------------ ZENTRALES STYLESHEET -------------- */
/*                 F�rth Tim                        */
/* ------------------------------------------------ */
/* ------------ Allgemeine Formatierung ----------- */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ------------ SCHRIFTEN ------------------- */

h1 {
    font-size: 2em;
    font-weight: 600;
}




/* ---------------------- BOXEN ----------------------- */
body{
    padding: 0;
}
#wrapper{
    width: 100%;
    max-width: 1250px;
    min-height: 1000px;
    padding: 0px 0px;
}

header {
    width: 100%;
    height: 60px;
    
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}
.logo {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
    border-width: 0;
}
header a {
    float: left;
    color: black;
    margin-right: 50px;
}

#spaltel {
    width: 30%;
    scrollbar-color: rgba(var(--white-rgb),.16)transparent;
    background-color: hotpink;
    float: left;
    height: 100%;
}
#spalter {
    width: 70%;
    background-color: maroon;
    height: 100%;
    visibility: hidden;
}
.contact {
    background-color: aqua;
    cursor: pointer;
}