@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ------------ ZENTRALES STYLESHEET -------------- */
/*                 F�rth Tim                        */
/* ------------------------------------------------ */
/* ------------ Allgemeine Formatierung ----------- */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ------------ SCHRIFTEN ------------------- */

h1 {
    font-size: 2em;
    font-weight: 600;
}


/* ---------------------- BOXEN ----------------------- */
body{
    padding: 0;
    background-color: lightgreen;
}

header {
    margin: 20px auto 0px auto;
    width: 100%;
    max-width: 1400px;
    height: 60px;
    padding: 0px 0px;
    
    overflow: hidden;
    background-color: #f1f1f1;
    
}
#headerl{
    width: 30%;
    float: left;
    background-color: #684969;
    padding: 10px 10px;
    height: 100%;
}

#headerLogin{
    width: 50%;
    float: left;
    background-color: #684969;
    padding: 10px 10px;
    height: 100%;
    margin: 0px auto;
}

#headerLogin button{
    width: 15%;
    font-size: 1em;
    height: 100%; 
    cursor: pointer;
    float: right;
}

#headerLogin h1{
    float: left;
    padding-left: 15px;
}

#headerr{
    width: 100%;
    background-color: grey;
    padding: 10px 10px;
    height: 100%;
}
#headerr h1{
    float: left;
    padding-left: 15px;
}
#headerr button{
    width: 9.69%;
    font-size: 1em;
    height: 100%; 
    cursor: pointer;
    float: right;
}

.logo {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
    border-width: 0;
}
header a {
    float: left;
    color: black;
    margin-right: 50px;
}

#wrapper{
    margin: 0px auto;
    width: 100%;
    max-width: 1400px;
    height: 85%;
    padding: 0px 0px;
}
#spaltel {
    width: 30%;
    scrollbar-color: rgba(var(--white-rgb),.16)transparent;
    background-color: hotpink;
    overflow: auto;
    float: left;
    height: 100%;
}
#spalter {
    width: 100%;
    background-color: maroon;
    height: 100%;
    visibility: hidden;
}

#spalter #Chatverlauf{
    height: 93%;
    background-color:lightcyan;
    overflow: auto;
    padding: 15px;
}

.NachrichtSenden input[type="text"]{
    width: 60%;
    padding: 15px;
    font-size: 1em;
    height: 7%; 
}
.NachrichtSenden input[type="submit"]{
    width: 9.5%;
    font-size: 1em;
    height: 7%; 
    cursor: pointer;
}

.contact {
    
    background-color: aqua;
    cursor: pointer;
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 12px;
    height: 50px;
    

}

.contact:hover{
    background-color: aquamarine;
}